.about .background
{
    display: flex;
    justify-content: center;
}

.about .background img
{
    border-radius: 10px;
    width: 1240px;
    height: 223px;
    object-fit: cover;
}

.about-text
{

    color: white;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin: 10px 4%;
}

.about .about-container
{
   margin: auto;
}



