.about .about-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

}

.about .about-background img {
    border-radius: 10px;
    height: 223px;
    width: 100%;
    object-fit: cover;
}

.about-text {

    color: white;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin: 10px 4%;

}

.about .about-container {
    margin: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .about .about-background {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .about .about-background img {
        width: 340px;
        height: 223px;
    }

}



