header {
    text-align: center;
    margin-bottom: 50px;
}

header img {
    object-fit: contain;
}



header nav {
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: space-between;
    margin: 10px 4%;

}

header nav ul{
    display: flex;
    align-items: center;
    color: #ff6060;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
}

 nav ul li  {
    color: #ff6060;
    text-decoration: none;
    margin: 20px;
}

@media (max-width: 768px) {
    header nav {
        flex-wrap: wrap;
    }
    header nav ul {
        flex-wrap: wrap;
        font-size: 12px;
    }
}

