.gallery {
    max-width: 1240px;
    position: relative;
    margin: auto;
}


.gallery img {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    /* margin-top: -22px; */
    padding: 16px;
    color: white;
    font-weight: bold;
    user-select: none;
    font-size: 80px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
